<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>分类列表</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/wxstyle.css" rel="stylesheet" />
  </head>
  <body>
      <div class="container">
          <div class="row">
              <ul class="nav nav-pills nav-stacked T_listor">
              	<li th:each="type:${types}">
	              	<a th:href="${'titles?id='+type.id}" th:utext="${'&lt;span class=&quot;badge pull-right&quot; &gt;'+type.cnt+'篇'+'&lt;/span&gt;'+type.name}"></a>
              	</li>
              </ul>
          </div>    
      </div>
  </body>
</html>