<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>文章列表</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/wxstyle.css" rel="stylesheet" />
  </head>
  <body>
      <div class="container">
          <div class="row">
              <ul class="list-unstyled nav T_listor1">
              	<li th:each="list:${lists}">
	              	<a th:href="${list.addr}" th:utext="${list.title}"></a>
              	</li>
              </ul>
          </div>    
      </div>
  </body>
</html>