<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>天润发票详情页</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>
	<script src="js/jquery-qrcode-0.14.0.min.js"></script>
  </head>
  <body>
      <div class="container">
          <div class="row T_ico1">
                 <div class="T_bottom15 clearfix">
                    <label for="inputEmail3" class="control-label T_ico2">公司信息已不存在</label>
                 </div>
        </div>  
      </div>
      <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container R_opcur">
              <ul class="nav navbar-nav">
              	<li class="col-xs-4 col-sm-4"><a href="hot" class="text-center"><i class="fa fa-th-large T_fonts fa-lg"></i><span>常用</span></a></li>
                <li class="col-xs-4 col-sm-4"><a href="taxInfos" class="text-center"><i class="fa fa-search T_fonts fa-lg"></i><span>搜索</span></a></li>
                <li class="col-xs-4 col-sm-4"><a href="member.html" class="text-center"><i class="fa fa-user T_fonts fa-lg"></i><span>我的</span></a></li>
              </ul>

          </div>
      </nav>
  </body>
</html>