<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<title>天润公司列表</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
<script src="js/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row text-center">
			<img class="img-responsive" src="img/tr_img.jpg"/>
		</div>
		<div class="row">
			<ul id="companyList" class="list-unstyled T_listnow T_ico1">
				<li th:each="company:${companys}">
					<a th:href="${'taxInfo?id='+company.companyId+'&amp;name='+company.companyName}" th:text="${company.companyName}"></a>
              	</li>
			</ul>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container R_opcur">
              <ul class="nav navbar-nav">
                  <li class="col-xs-4 col-sm-4"><a href="hot" class="text-center"><i class="fa fa-th-large T_fonts fa-lg"></i><span>常用</span></a></li>
                  <li class="col-xs-4 col-sm-4"><a href="taxInfos" class="text-center"><i class="fa fa-search T_fonts fa-lg"></i><span>搜索</span></a></li>
                  <li class="col-xs-4 col-sm-4"><a href="member.html" class="text-center"><i class="fa fa-user T_fonts fa-lg"></i><span>我的</span></a></li>
              </ul>

          </div>
      </nav>
</body>
</html>