<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="css/jstree/style.min.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jstree/jstree.min.js"></script>
	</head>
	
	<body>
		
		<div class="row">
			<div class="col-md-4 col-sm-8 col-xs-8">
				<button type="button" class="btn btn-success btn-sm" onclick="demo_create();"><i class="glyphicon glyphicon-asterisk"></i> Create</button>
				<button type="button" class="btn btn-warning btn-sm" onclick="demo_rename();"><i class="glyphicon glyphicon-pencil"></i> Rename</button>
				<button type="button" class="btn btn-danger btn-sm" onclick="demo_delete();"><i class="glyphicon glyphicon-remove"></i> Delete</button>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-4" style="text-align:right;">
				<input type="text" value="" style="box-shadow:inset 0 0 4px #eee; width:120px; margin:0; padding:6px 12px; border-radius:4px; border:1px solid silver; font-size:1.1em;" id="demo_q" placeholder="Search" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="jstree_demo" class="demo" style="margin-top:1em; min-height:200px;"></div>
				<script th:inline="javascript">
				
				function demo_create() {
					var ref = $('#jstree_demo').jstree(true),
						sel = ref.get_selected();
					if(!sel.length) { return false; }
					sel = sel[0];
					sel = ref.create_node(sel, {"type":"file"});
					if(sel) {
						ref.edit(sel);
					}
				};
				function demo_rename() {
					var ref = $('#jstree_demo').jstree(true),
						sel = ref.get_selected();
					if(!sel.length) { return false; }
					sel = sel[0];
					ref.edit(sel);
				};
				function demo_delete() {
					var ref = $('#jstree_demo').jstree(true),
						sel = ref.get_selected();
					if(!sel.length) { return false; }
					ref.delete_node(sel);
				};
				
				$(function () {
					var to = false;
					$('#demo_q').keyup(function () {
						if(to) { clearTimeout(to); }
						to = setTimeout(function () {
							var v = $('#demo_q').val();
							$('#jstree_demo').jstree(true).search(v);
						}, 250);
					});
				
				$('#jstree_demo').jstree({
					  "core" : {
					    "animation" : 0,
					    "check_callback" : true,
					    "themes" : { "stripes" : true },
					    'data' : [[${orgdata}]]
					  },
					  "types" : {
					    "#" : {
					      "max_children" : 1,
					      "max_depth" : 4,
					      "valid_children" : ["root"]
					    },
					    "root" : {
					      "icon" : "/static/3.3.4/assets/images/tree_icon.png",
					      "valid_children" : ["default"]
					    },
					    "default" : {
					      "valid_children" : ["default","file"]
					    },
					    "file" : {
					      "icon" : "glyphicon glyphicon-file",
					      "valid_children" : []
					    }
					  },
					  "plugins" : [
					    "contextmenu", "dnd", "search",
					    "state", "types", "wholerow"
					  ]
					});
				})
				</script>
			</div>
		</div>
	</body>
</html>